<dl>
  <div>{{title}}</div>

  <div class="params" ng-repeat="(name, p) in params">
    <dt>{{name}}<span class="type" ng-if="p.type">({{p.type}})</span></dt>
    <dd>
      <p ng-if="p.description">{{p.description}}</p>
      <ul>
        <li ng-if="p.default">Default: {{p.default}}</li>
        <li ng-if="p.example">Example: {{p.example}}</li>
        <li ng-if="p.minimum">Minimum: {{p.minimum}}</li>
        <li ng-if="p.maximum">Maximum: {{p.maximum}}</li>
        <li ng-if="p.enum">Choices: {{p.enum.join(', ')}}</li>
      </ul>
    </dd>
  </div>
</dl>
