*[ng-cloak] {
  display: none;
}

dd {
  padding-left: 1em;
}

.params {
  padding-top: 0.5em;
}

.type {
  display: inline-block;
  margin-left: 0.5em;
}

h4, dl {
  padding-top: 1em;
  padding-bottom: 1em;
}

p.description {
  background-color: #eee;
  font-style: italic;
  padding: 0.5em;
}

h4.name {
  text-decoration: underline;
}

section {
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding-top: 1em;
}

*[role=menu] {
  list-style-type: none;
}
